<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section>
                        <h2>Партнери</h2>
                        <ul class="divided">
                            <li><a href="https://kubg.edu.ua/">Borys Grinchenko Kyiv University</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <!-- About -->
                    <section>
                        <h2>Інформація про автора</h2>
                        <p>
                            Привіт! Мене звати <strong>Олександр Тищенко</strong>.
                        Я студент Київського університету імені Бориса Грінченка,
                        група КБб-2-20-4.0д
                    </section>
                </div>
                <div class="col-6 col-6-medium col-12-small">
                    <!-- Contact -->
                    <section>
                        <h2>Соціальні мережі</h2>
                        <div>
                            <div class="row">
                                <div class="col-12 col-12-small">
                                    <dl class="contact">
                                        <dt>Instagram</dt>
                                        <dd><a href="https://www.instagram.com/oleksandr_tyshchenko777/">instagram.com</a></dd>
                                        <dt>Facebook</dt>
                                        <dd><a href="https://www.facebook.com/profile.php?id=100006775842252">facebook.com</a></dd>
                                        <dt>LinkedIn</dt>
                                        <dd><a href="https://www.linkedin.com/in/oleksandr-tyshchenko-03541a218/">linkedin.com</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Tyshchenko Development. All rights reserved</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
</div>

